{% cache %}
<div class="wrapper" id="splashing-images">
    {% set downloadIcon = resourceUrl('unsplash/download.svg') %}
    {% for image in results.images %}
        {% set thumb = image.parameters.urls.thumb %}
        {% set download= image.parameters.links.download %}
        {% set author = image.parameters.user.username %}
        {% set profileUrl = image.parameters.user.links.html %}
        <div class="upload">
            <div class="image">
            <a href="" class="splashing-image" data-source="{{ download }}" data-author="{{ author }}">
                <img class="splashing-thumbnail ms-item" src="{{ thumb }}" alt="{{ author }}">
            </a>
            </div>
            <div class="credit">
                <a href="{{ profileUrl }}?utm_source=SplashingImages_CraftCMS" target="_blank" class="credit__author">{{ 'by'|t }} {{ author }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endcache %}
<script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
    window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";
</script>



{% set masonry %}
    $( document ).ready(function() {
        var $grid = jQuery('#splashing-images').masonry({
            itemSelector: 'div.upload',
            gutter: 10,
        });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    });
{% endset %}

    {% includeJs masonry %}
    {% includeCssResource "unsplash/css/splashingimages.css" %}
    {% includeJsResource "unsplash/js/splashingimages.js" %}
    {% includeJsResource "unsplash/js/loadingoverlay.min.js" %}
    {% includeJsResource "unsplash/js/imagesloaded.pkgd.min.js" %}
    {% includeJsResource "unsplash/js/masonry.pkgd.min.js" %}
