<div class="wrapper" id="splashing-images">
    {% for image in images %}
        {% set thumb = image.parameters.urls.thumb %}
        {% set download= image.parameters.links.download %}
        {% set author = image.parameters.user.name %}
        <a href="" class="upload" data-source="{{ download }}" data-author="{{ author }}">
            <img class="splashing-thumbnail ms-item" src="{{ thumb }}" alt="{{ author }}">
        </a>
    {% endfor %}
</div>
<script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
    window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";
</script>


{% set masonry %}
    $( document ).ready(function() {
        var $grid = jQuery('#splashing-images').masonry({
            itemSelector: 'a.upload',
            gutter: 5,
        });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    });
{% endset %}

    {% includeJs masonry %}
    {% includeJsResource "unsplash/js/jquery-3.2.1.min.js" %}
    {% includeJsResource "unsplash/js/Unsplash_Script.js" %}
    {% includeJsResource "unsplash/js/loadingoverlay.min.js" %}
    {% includeJsResource "unsplash/js/imagesloaded.pkgd.min.js" %}
    {% includeJsResource "unsplash/js/masonry.pkgd.min.js" %}