{% extends '_layouts/cp' %}
{% set title = "Unsplash"|t %}

{% set tabs = {
    popular: { label: "Popular"|t, url: url('unsplash')},
    latest: { label: "Last Added"|t, url: url('unsplash/latest') },
    random: { label: "Random"|t, url: url('unsplash/random')},
    search: { label: "Search"|t, url: url('unsplash/search')},
} %}
{% set selectedTab = 'search' %}

{% set extraPageHeaderHtml %}
    {% include 'unsplash/components/_searchForm' %}
{% endset %}

{% set content %}
    <div class="wrapper" id="splashing-images">
        {% for image in results.images %}
            {% set thumb = image.urls.thumb %}
            {% set download= image.links.download %}
            {% set author = image.user.name %}
            <a href="" class="upload" data-source="{{ download }}" data-author="{{ author }}">
                <img class="splashing-thumbnail ms-item" src="{{ thumb }}">
            </a>
        {% endfor %}
    </div>
    <hr>

    {{ results.pagination.total_results }} results found for {{ craft.request.getParam('q') }}.
    {% set currentPage =  craft.request.getParam('page') %}
    {% if currentPage != 1 %}
    <a href="{{ results.pagination.base }}?q={{ craft.request.getParam('q')}}&page=1">First</a> |
    <a href="{{ results.pagination.base }}?q={{ craft.request.getParam('q')}}&page={{ currentPage-1 }}">Previous</a> |
    {% endif %}
    Page {{ currentPage }}
    {% if currentPage != results.pagination.total_pages %}
    | <a href="{{ results.pagination.base }}?q={{ craft.request.getParam('q')}}&page={{ currentPage+1 }}">Next</a> |
    <a href="{{ results.pagination.base }}?q={{ craft.request.getParam('q')}}&page={{ results.pagination.total_pages }}">Last</a>
    {% endif %}

    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
        window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";
    </script>


    {% set masonry %}
        $( document ).ready(function() {
        var $grid = jQuery('#splashing-images').masonry({
        itemSelector: 'a.upload',
        gutter: 5,
        });
        $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
        });
        });
    {% endset %}

    {% includeJs masonry %}
    {% includeJsResource "unsplash/js/jquery-3.2.1.min.js" %}
    {% includeJsResource "unsplash/js/Unsplash_Script.js" %}
    {% includeJsResource "unsplash/js/loadingoverlay.min.js" %}
    {% includeJsResource "unsplash/js/imagesloaded.pkgd.min.js" %}
    {% includeJsResource "unsplash/js/masonry.pkgd.min.js" %}
{% endset %}
