{% import "_includes/forms" as forms %}


{% if assetSources|length == 1 %}
<p class="error">{{ 'No sources exist yet.'|t }}</p>

{% else %}
{{ forms.selectField({
    first:        true,
    label:        "Save images in"|t,
    required:     true,
    id:           'assetSource',
    name:         'assetSource',
    instructions: "Select the asset source in which you want to save your images"|t,
    value:        settings.assetSource,
    options:      assetSources,
    errors:       settings.getErrors('assetSource')
}) }}


<h2>Credits field</h2>
{% if sourceFields|length == 1 %}
    <p class="error">{{ 'No fields add to assets in this Assets Source. '|t }}</p>
    <p class="error">{{ 'Add a text field or a rich text field to automatically add image credits from Unsplash'|t }}</p>

{% else %}
{{ forms.selectField({
    first:        true,
    label:        "Image credits field"|t,
    required:     false,
    id:           'creditsField',
    name:         'creditsField',
    instructions: "Select a text field in which the photo credits will be saved. <br>Note: images from Unsplash are free to use but if at all possible, why not include credit to the photographer?"|t,
    value:        settings.creditsField,
    options:      sourceFields,
    errors:       settings.getErrors('creditsField')
}) }}
{% endif %}


{% endif %}